@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: JetBrains Mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: JetBrains Mono;
}
