.container_main {
  @apply h-screen;
  background: url("../assets/yes/world.jpg") center center / cover;
}

.container_main_two {
  @apply h-screen grid sm:grid-cols-1    grid-cols-2;
  .img {
    @apply sm:hidden overflow-hidden z-[-1];
    background: url("../assets/yes/ebout1.jpg") center center / cover;
  }
  span {
    background: url("../assets/cover_all_4.webp") no-repeat 0% / cover;
    h2 {
      @apply leading-relaxed mt-32 text-xl text-indigo-400 text-center tracking-widest;
    }
    h3 {
      @apply text-center text-[14px] mt-1 tracking-widest text-gray-500 ;
    }
    ul {
      @apply text-center mt-8  text-xs;
      a {
        @apply border px-6 py-3  hover:bg-gray-50  focus:border-indigo-600 focus:outline-none active:opacity-100;
      }
    }
    .services {
      @apply mx-auto   lg:px-10;
    }
  }
}

.two_text_services {
  @apply pt-4;
  p {
    @apply mt-4 pl-8 mx-11 text-xs;
  }
  .but {
    @apply flex sm:block sm:py-5 justify-between;
    A {
      @apply my-3;
    }
  }
}

.container_main_three {
  @apply h-screen grid grid-cols-2;
  .img {
    background: url("../assets/yes/ebout1.jpg") center center / cover;
  }
  div {
    @apply text-2xl;
  }
}

.container_main_four {
  .skills {
    @apply grid min-h-full sm:grid-cols-1 grid-cols-2 text-white;
    h2 {
      @apply text-center text-2xl font-bold sm:pt-14 pt-14;
    }
    .skills_element {
      @apply sm:pt-10 sm:absolute md:absolute pt-20  grid sm:grid-cols-2  grid-cols-3 cursor-pointer text-xs;
    }
    .one {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/1.svg") no-repeat center 1%;
    }
    .two {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/2.svg") no-repeat center 1%;
    }
    .three {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/3.svg") no-repeat center 1%;
    }
    .four {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/4.svg") no-repeat center 1%;
    }
    .five {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/5.svg") no-repeat center 1%;
    }
    .six {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/6.svg") no-repeat center 1%;
    }
    .seven {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/7.svg") no-repeat center 1%;
    }
    .eight {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/8.svg") no-repeat center 1%;
    }
    .nine {
      @apply text-center relative   sm:top-0 sm:left-1/2 pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/9.svg") no-repeat center 0%;
    }
  }
  .img {
    @apply h-screen sm:object-left;
    background: url("../assets/yes/lamps.jpg") 30% 100% / cover;
  }
}

.container_main_five {
  .wrap {
    @apply text-gray-800;
    h2 {
      @apply text-center font-serif text-2xl pt-56;
    }
    .wrap_advantages {
      @apply grid lg:pt-6 md:px-10 lg:px-10 lg:grid-cols-2 lg:gap-10 sm:text-sm;
      li {
        @apply pl-16 my-6 m-1 min-h-full sm:mx-2;
      }
      .one {
        @apply hover:animate-pulse hover:shadow-sm cursor-pointer;
        background: url("../assets/svg/c1.svg") no-repeat;
      }
      .two {
        @apply hover:animate-pulse hover:shadow-sm cursor-pointer;
        background: url("../assets/svg/c2.svg") no-repeat;
      }
      .three {
        @apply hover:animate-pulse hover:shadow-sm cursor-pointer;
        background: url("../assets/svg/c3.svg") no-repeat;
      }
      .four {
        @apply hover:animate-pulse hover:shadow-sm cursor-pointer;
        background: url("../assets/svg/c4.svg") no-repeat;
      }
    }
  }
  .img {
    @apply h-screen;
    background: url("../assets/yes/lamp.jpg") center center / cover;
  }
}

.applications {
  @apply h-screen  grid grid-cols-2 sm:grid-cols-1;
  .text_logo {
    @apply mt-32 text-center mb-10;
    h2 {
      @apply text-2xl text-indigo-400 text-center tracking-widest;
    }
    div {
      @apply pt-4 text-gray-500;
    }
  }
  span {
    @apply text-xs text-gray-400;
  }
  .ap_checkbox {
    @apply ml-2 mt-8 mb-4;
  }
  .ap_form {
    @apply px-2 ml-4  block;
    div {
      @apply flex flex-wrap;
      input {
        @apply h-10  mr-4 placeholder:pl-4 outline-none border-b-2 placeholder:text-gray-400;
      }
    }
    .ap_question {
      @apply mt-8 w-full h-10 border-b-2 flex-wrap outline-none placeholder:pl-4 placeholder:text-gray-400;
    }
  }
  .application_img {
    /* @apply ; */
    background: url("../assets/yes/full.webp") no-repeat 20% center / cover;
  }
}
