.container_main {
  @apply min-h-screen;
  div {
    @apply px-10;
    
    h3 {
      @apply pt-52 sm:pt-44 text-center;
    }
    h1 {
      @apply text-center tracking-widest font-bold sm:text-3xl text-[32px];
    }
    h2 {
      @apply border-b-2 text-center tracking-widest font-bold sm:text-3xl text-2xl pt-10;
    }
    h4 {
      @apply text-center text-gray-900 font-extrabold;
    }
  }
  /* background: url("../assets/yes/bg2.webp")  center / cover; */
  background: url("../assets/bg2.jpg")  center / cover;
}
.main_white {
  @apply h-full py-20  grid sm:grid-cols-1 sm:grid-rows-2 grid-cols-2;
  h3 {
    @apply sm:text-sm text-[1.30rem] text-gray-900  sm:pb-8 pt-14  pb-24 sm:px-[4.7rem] px-10 leading-relaxed;
  }
  div {
    background: url("../assets/h1.png") no-repeat center / contain;
  }
}




.container_main_four {
  /* @apply min-h-screen; */
  .skills {
    @apply grid pb-32 sm:grid-cols-1 grid-cols-2 text-white;
    h2 {
      @apply text-center text-2xl font-bold sm:pt-14 pt-14;
    }
    .skills_element {
      @apply sm:pt-10  pt-20  grid sm:grid-cols-2  grid-cols-3 cursor-pointer text-xs;
      li {
        @apply m-5;
      }
    }
    .one {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/1.svg") no-repeat center 1%;
    }
    .two {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/2.svg") no-repeat center 1%;
    }
    .three {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/3.svg") no-repeat center 1%;
    }
    .four {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/4.svg") no-repeat center 1%;
    }
    .five {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/5.svg") no-repeat center 1%;
    }
    .six {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/6.svg") no-repeat center 1%;
    }
    .seven {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/7.svg") no-repeat center 1%;
    }
    .eight {
      @apply text-center pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/8.svg") no-repeat center 1%;
    }
    .nine {
      @apply text-center relative   sm:top-0 sm:left-1/2 pt-20 p-2 hover:animate-pulse hover:shadow-2xl;
      background: url("../assets/svg/9.svg") no-repeat center 0%;
    }
  }
  .img {
    background: url("../assets/yes/lamps-min.webp") 0% / cover;
  }
}



.landing_main {
  @apply min-h-screen text-white bg-[#111111];
  .landing_top {
    @apply h-full;
  }
  .landing_use {
    div {
      @apply px-5 py-14 mx-auto;
    }
    .landing_use_top {
      @apply flex flex-col text-center w-full;
      h2 {
        @apply text-3xl leading-relaxed tracking-widest font-medium  mb-1 p-4 bg-[#111111]  rounded-sm;
      }
      h1 {
        @apply sm:text-xl text-2xl  mb-4 pt-5 text-indigo-400  bg-[rgba(18,26,27,0.1)] shadow-sm rounded-sm;
      }
      p {
        @apply lg:w-3/4 mx-auto leading-relaxed text-xl rounded-sm sm:text-sm inline;
      }
    }
    .landing_use_bottom {
      @apply flex flex-wrap;
      div {
        @apply lg:w-1/2 md:w-full px-8 py-4 sm:border-l-2 md:border-l-2 border-gray-800;
        h2 {
          @apply sm:text-sm  text-indigo-300 shadow-md  text-[16px]  mb-2;
        }
        p {
          @apply sm:text-sm leading-relaxed  text-base mb-4;
        }
      }
    }
  }
}

.main_marketing {
  @apply min-h-screen bg-[#111111]  text-white;
  .marketing_page {
    @apply min-h-screen;
    .marketing_info {
      @apply pt-16 px-5 leading-relaxed;
      h2 {
        @apply pb-10 text-2xl  sm:text-xl text-indigo-400 text-center;
      }
      p {
        @apply lg:w-2/3 mx-auto sm:text-sm leading-relaxed text-base;
      }
    }
    .marketing_top_page {
      @apply transition-all sm:pt-5 pt-20 grid grid-cols-3 sm:grid-cols-1 text-center;
      h3 {
        @apply sm:pt-10 text-3xl;
      }
    }
    a {
      @apply relative cursor-pointer;
    }
    a:after {
      @apply block absolute left-0 right-0 w-0 h-[1px] bg-sky-400 content-[''] ease-in duration-300;
    }
    a:hover:after,
    a:focus:after {
      @apply w-full;
    }
    .info_marketing_services {
      @apply px-12 text-2xl;
      .list_services {
        @apply text-center mt-10;
      }
    }
  }
  .marketing_map {
    @apply min-h-full sm:pt-32 bg-red-200 pt-[20rem];
    background: no-repeat url("../assets/svg/m2.svg") 50%  / contain;

    .marketing_bot_content {
      @apply flex justify-center pt-20;
    }
  }
}

